@import '../variables/colors.scss';

.table {
    thead {
        th {
            border-top: 1px solid $grey3;
            border-bottom: 1px solid $grey3;
        }
    }
    td {
        border-top: 1px solid $grey3;
    }

    border-bottom: 1px solid $grey-light;
}

.delete-chart, .update-chart {
    font-size: 15px;
    line-height: 17px;
}