@import '../variables/colors.scss';

.navbar {
    a {
        color: $grey;
        &.navigation-active {
            color: $white;
        }
        &:hover {
            text-decoration: none;
        }
    }
}